<form [formGroup]="cuacardprocessing" (ngSubmit)="saveCardProcessing()" ngNativeValidate>
    <div class="row">
        <div class="col">
            <h3 class="mt-2">
                Card Processing
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
            <p class="mt-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, aliquam vitae. Beatae, velit blanditiis nihil aliquam molestias saepe! Exercitationem id rerum quo tempore maxime ipsam maiores cum quisquam, voluptatibus sequi.
            </p>
        </div>
    </div>
</form>