a:hover, a:focus, a:active {
  color: #304A1E; }

.btn-theme, .swiper-pagination-bullet-active {
  background: #304A1E; }
  .btn-theme:hover, .btn-theme:focus, .swiper-pagination-bullet-active:hover, .swiper-pagination-bullet-active:focus {
    background: #18260f !important; }

.plan-duration {
  color: #fff; }

#intro-cdglanding::after, #video::after {
  background: rgba(48, 74, 30, 0.6); }

.scroll-top,
.newsletter-block,
.plan-head,
.newsletter .btn:hover {
  background: #304A1E;
  color: #fff; }

.promo-list > ul > li span,
.highlight-text,
.ratting,
.copyright-text i,
.faq-title > a,
.plan-details ul li i {
  color: #304A1E; }

.author-img.slick-center,
.plan.recommended {
  border-color: #304A1E; }
