<nav id="nav" class="site-header navbar navbar-toggleable-md fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-cdglanding" aria-controls="navbar-levi" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon">
             <span class="lnr lnr-menu"></span>
           </span>
        </button>
            <a class="nav-link scrolling" routerLink="/" class="navbar-brand">
                <img class="img-fluid" src="assets/img/logo.png" alt="Cdgcommerce" srcset="assets/img/logo-112.png 990w, assets/img/logo-112.png 768w, assets/img/logo-78.png 640w, assets/img/logo-55.png 480w">
            </a>
        </div>

        <div class="navbar-collapse collapse flex-row-reverse" id="navbar-cdglanding" aria-expanded="false">
            <ul class="main-nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link scrolling">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrolling" href="#pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrolling" href="#partner">Partner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrolling" href="#clients">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrolling" href="#news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrolling">Apply</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrolling" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrolling btn-theme btn-round btn-menu" href="#">Sign Up Now</a>
                </li>
            </ul>
            <!-- END main-nav navbar-nav-->
        </div>
        <!-- END navbar-collapse -->

    </div>
    <!-- END container-->
</nav>