<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-md-6 flex-md-last text-center text-md-right">
                <!-- SOCIAL LINKS -->
                <ul class="social list-inline">
                    <li>
                        <a href=""><i class="fa fa-facebook"></i></a>
                    </li>

                </ul>
                <!-- SOCIAL LINKS -->
            </div>
            <!-- END col-md-6 -->

            <div class="col-md-6">
                <p class="copyright-text">


                    Copyright © 2004- 2018 CDGcommerce, Inc. All Rights Reserved.<br> CDGcommerce is a registered ISO/MSP of Columbus Bank & Trust, Columbus, GA and the WestAmerica Bank, 3750 Westwind Blvd., Suite #210, Santa Rosa, CA 95403.

                </p>
            </div>
            <!-- END col-md-6 -->

        </div>
        <!-- END row-->
    </div>
    <!-- END container-->
</footer>
<!-- END site-footer-->